.carousel .screenshot01
{
	background-image: url("../img/spencer/SpencerScreenshot01.jpg");
}

.carousel .screenshot02
{
	background-image: url("../img/spencer/SpencerScreenshot02.jpg");
}

.carousel .screenshot03
{
	background-image: url("../img/spencer/SpencerScreenshot01.jpg");
}

.carousel .screenshot04
{
	background-image: url("../img/spencer/SpencerScreenshot02.jpg");
}