.carousel .screenshot01
{
	background-image: url("../img/panzerx/panzerx-screenshot02.png");
}

.carousel .screenshot02
{
	background-image: url("../img/panzerx/panzerx-screenshot01.png");
}

.carousel .screenshot03
{
	background-image: url("../img/panzerx/panzerx-screenshot03.png");
}

.carousel .screenshot04
{
	background-image: url("../img/panzerx/panzerx-screenshot04.png");
}

.carousel .jumbotron
{
	background-position: center -90px;
}